<div class="container">
    <h1>Cursos</h1>
    <h2>Agregar Curso</h2>
    <form>
      <label>Nombre: </label>
      <input type="text" [(ngModel)]="nombre" name="nombre">
      <button (click)="addCourse()">Agregar Curso</button>
    </form>
    <h1>Lista de Matrículas</h1>
    <ul class="course-list">
      @for (course of courses; track course.id) {
        <li>
              <h2>{{course.nombre}}</h2>
                <div>
                  <label>Estudiantes Matriculados:</label>
                  <ul>
                    @for (studentId of getStudentsForCourse(course); track studentId) {
                        @if(getStudentNameFromId(studentId) != '') {
                            <li>{{ studentId }}: {{ getStudentNameFromId(studentId) }}</li>
                        }
                    }
                  </ul>
                  <button class="eliminar" (click)="deleteCourse(course)">Eliminar Curso</button>
                </div>
        </li>
        
      }
    </ul>
  </div>