<div class="container">
    <h1>Estudiantes</h1>
    <h2>Agregar Estudiante</h2>
    <form>
      <label>Nombre: </label>
      <input type="text" [(ngModel)]="nombreUsuario" name="nombreUsuario" required pattern="[a-zA-Z ]*">
      <label>Email: </label>
      <input type="email" [(ngModel)]="email" name="email" required>
      <label>Password: </label>
      <input type="password" [(ngModel)]="password" name="password" required minlength="8">
      <button (click)="addStudent()" [disabled]="!nombreUsuario || !email || !password">Agregar Estudiante</button>

      <h2>Editar Estudiante</h2>
      <label>Seleccionar Estudiante para Editar: </label>
      <select [(ngModel)]="selectedStudentId" (ngModelChange)="loadSelectedStudent()" name="opcion">
        @for (student of students; track student.id) {
          <option [value]="student.id">{{ student.id + ' - ' + student.nombre }}</option>
        }
      </select>
      <button (click)="updateStudent()">Editar Estudiante</button>

    </form>
    <h2>Matrículas</h2>
    <ul class="student-list">
      @for (student of students; track student.id) {
        <li><h2>{{ student.nombre }}</h2>
          <h3>{{ student.email }}</h3>
          <div>
            <label>Matricularse en: </label>
            <select #courseSelect (change)="updateSelectedCourse(courseSelect.value)">
              @for (course of courses; track course.id) {
                <option value="{{course.id + ' - ' + course.nombre}}">
                  {{course.id + ' - ' + course.nombre}}
                </option>
              }
            </select>
            <button (click)="enrollStudentInCourse(student)">Matricularse</button>
          </div>
          <button class="eliminar" (click)="deleteStudent(student)">Eliminar Estudiante</button>
        </li>
      }
    </ul>
  </div>
